.project {
    font-family: 'Lato', sans-serif;
    width: 100%;
    height: calc(100vh - 100px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.project h1 {
    margin-top: 75px;
    color: #003262;
    font-size: 35px;
}
.project img {
    width: 350px;
    border-radius: 10px;
}

.project img:hover {
    animation: scale-up-center 0.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}
@keyframes scale-up-center {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.1);
    }
}

.project p {
    font-size: 40px;
    color: #003262;
}

.project svg {
    font-size: 60px;
    color: #3e49ff7a;
} 

.project svg:hover {
    animation: scale-down-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
@keyframes scale-down-center {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0.92);
    }
}